.sliderSection {
  width: 100vw;
  height: 650px;
  position: relative;
}
.sliderSection::before{
  content: '';
  background-image: url(../../../public/img/banner.jpeg) ;
  filter: blur(10px);
  position: absolute;
  top: 0; left: 0;
  height: 650px;
  width: 100vw;
  -webkit-backdrop-filter: blur(2px);

  /* https://metallex.vercel.app/ */
}
.bg {
  object-fit: cover;
  position: absolute;
  filter: blur(10px);
  width: 100vw;
  height: 650px;
}
.slider {
  padding-top: 50px;
  background: #1f1e1e;
  z-index: 1000;
}
.container {
  max-width: 700px;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.activeAnim {
  opacity: 1;
}

.btnSlide {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.575);
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rigthIcon {
  font-size: 24px;
  font-weight: 800;
  color: dimgray;
}
.leftIcon {
  font-size: 24px;
  font-weight: 800;
  color: dimgray;
}

.btnSlide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  transform: translateY(-60%);
}
.next {
  top: 50%;
  right: 20px;
  transform: translateY(-60%);
}

.containerDots {
  position: relative;
  width: 500px;
  align-items: center;
  margin-top: 50px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dots {
  margin: auto;
  display: flex;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #7c7a7a;
}
.dot.active {
  background: rgb(32, 32, 32);
}
@media screen and (max-width: 700px) {
  .sliderSection {
    height: 400px;
  }
  .slider {
    padding-top: 0px;
  }
  .container {
    margin: 50px 10px 0;
    height: 350px;
  }
  .sliderSection::before{
    height: 90%;
  }
  .bg {
    height: 90%;
  }
  .slide img {
    object-fit: contain;
  }
}
